@charset "UTF-8";

body {
	min-width: 1200px;
	margin: 0;
}

header {
	min-width: 1200px;
	border-bottom: 1px solid rgba(var(- -b38, 219, 219, 219), 1);
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 100;
	background: white;
}

#extra {
	width: 100%;
	height: 60px;
}

#body-wrap {
	width: 1000px;
	min-height: 500px;
	margin: 0 auto;
}

#Myheader {
	width: 100%;
	height: 225px;
}

section {
	width: 100%;
	min-height: 100px;
	/* 	background: green; */
	margin-top: 5px;
}

section>div {
	border: 3px solid #f1f1f1;
	border-radius: 23px;
	margin-bottom: 30px;
}

#profileImg {
	width: 166px;
	height: 166px;
	border-radius: 100px;
}

#table_area {
	margin: 0 auto;
}

#table_area>tbody>tr>td {
	width: 180px;
	height: 70px;
}

#img_area {
	cursor: pointer;
	border: 1px solid #c4c4c4;
	width: 600px;
	height: 337.5px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

#img_area>img {
	width: auto;
	height: auto;
	max-width: 600px;
	max-height: 337.5px;
}

#content_area {
	margin-left: 197px;
	font-size: 20px;
}

h2 {
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 20px;
	height: 50px;
	width: 600px;
}

textarea {
	outline: none;
	resize: none;
	margin-top: 15px;
	width: 600px;
	min-height: 200px;
}

input {
	border: none;
	border-bottom: 1px solid black;
	background: #fafafa;
	outline: none;
	padding: 3px;
	width: 600px;
	font-size: 18px;
	height: 30px;
}

select {
	font-size: 18px;
	outline: none;
	width: 152px;
	margin-left: 22px;
}

.tag_input {
	width: 94px;
	margin-right: 5px;
}

#content_area>span {
	color: blue;
}
/* bucketList 가운데 정렬 */
.bucketList-area>table, #bottom_scroll>table {
	margin: 0 auto;
	border-collapse: collapse; /* 테이블 간격 없애기 */
	font-size: 16px;
	margin-bottom: 15px;
}

.bucketList-area>table>tbody, #bottom_scroll>table>tbody {
	font-size: 13px;
}

.bucketList-area>table tr th:first-child, #bottom_scroll>table tr th:first-child {
	text-align: left;
	width: 650px;
}

.bucketList-area>table tr th:last-child, #bottom_scroll>table tr th:last-child {
	text-align: right;
	width: 150px;
}

.bucketList-area>table tr td:first-child, #bottom_scroll>table tr td:first-child {
	text-align: left;
	width: 650px;
}

.bucketList-area>table tr td:first-child span, #bottom_scroll>table tr td:first-child span {
	cursor: pointer;
}

.bucketList-area>table tr td:first-child span:hover, #bottom_scroll>table tr td:first-child span:hover {
	border-bottom: 1px solid black;
}

.bucketList-area>table tr td:last-child, #bottom_scroll>table tr td:last-child {
	text-align: right;
	width: 150px;
}

.bucketList-area>table>thead>tr>th, #bottom_scroll>table>thead>tr>th {
	border-bottom: 2px solid black;
}

.bucketList-area>table>tbody>tr>td, #bottom_scroll>table>tbody>tr>td {
	border-bottom: 1px solid black;
}

.wrap_td {
	margin: 9px;
}

#div-area {
	text-align: center;
	padding-bottom: 30px;
}

#bucketContent>textarea {
	outline: none;
	resize: none;
	font-size: 14px;
	border: none;
	background: #fafafa;
}

.blogBucket {
	text-align: center;
	padding-bottom: 30px;
}

.tagBtn {
	border: 0;
	margin: 15px;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	background: #f3f4f5;
	border-radius: 7px;
}

.tagBtn:hover {
	background: #dce6f2;
	border-radius: 7px;
}

.reply {
	width: 820px;
	margin: 0 auto;
	margin-top: 130px;
	border: 1px solid #ddcbda;
	border-radius: 5px;
}

.pagingBtn-area {
	text-align: center;
	font-size: 13px;
	padding-bottom: 15px;
}

.pagingBtn-area2 {
	text-align: center;
	font-size: 13px;
	padding-bottom: 15px;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

#list_header {
	text-align: center;
}

#list_header>button {
	cursor: pointer;
	margin-left: 57%;
	border: none;
	background: #fafafa;
	outline: none;
	transition: color 0.5s;
}

#list_header>button:hover {
	text-decoration: underline;
	margin-left: 57%;
	border: none;
	background: #fafafa;
	outline: none;
	color: orange;
}

#mydiv {
	position: fixed;
	z-index: 9;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	text-align: center;
	border-radius: 6px;
}

#mydivheader {
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #2196F3;
	color: #fff;
}

#mydiv span {
	font-size: 13px;
}