<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<!-- 페스티벌 작성 -->
	
	<insert id="insertfestival" parameterType="Festival">
		insert into festival
		values(seq_festival.nextval, #{fetitle}, #{feDate}, #{fecontent}, #{feplace}, sysdate, 'admin')
	</insert>
	
	<insert id="insertfestivalimg" parameterType="Media">
		insert into media
		values(seq_media.nextval, #{morigin}, #{mweb}, 1, 5, null, null, null, seq_festival.currval, null)
	</insert>
	
	
	<!-- QnA 게시판  -->
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from QNA
	</select>
	
	<select id="adminQnAselectList" resultMap="QnAResultSet">
		select *
		from QNA
		order by q_no desc
	</select>
	
	<resultMap type="adminQnA" id="QnAResultSet">
		<id property="q_no" column="Q_NO"/>
		<result property="q_title" column="Q_TITLE"/>
		<result property="q_content" column="Q_CONTENT"/>
		<result property="q_date" column="Q_DATE"/>
		<result property="answer" column="ANSWER"/>
		<result property="an_date" column="AN_DATE"/>
		<result property="an_content" column="AN_CONTENT"/>
		<result property="userid" column="USERID"/>
		<result property="coid" column="COID"/>
	</resultMap>
	
	<select id="adminqnadetailview" resultMap="QnAResultSet">
		select *
		from qna
		where q_no = #{q_no}
	</select>
	
	<select id="adminqnaUpdate" resultMap="QnAResultSet">
		select *
		from qna
		where q_no = #{q_no}
	</select>
	
	<update id="adminqnaUpdatedetail">
		update qna
		set answer = 'Y', an_content = #{an_content}, an_date = sysdate
		where answer = 'N' and q_no = #{q_no}
	</update>
	
	<!-- 신고게시판 -->
	
	<select id="cautionListCount" resultType="_int">
		select count(*)
		from notify
	</select>
	
	<select id="boardCommentList" resultMap="notifyResultSet">
	   	select n.no_no, n.enrolldata, n.status, n.no_kind, n.no_check, n.sinuser, n.pigouser, c.cmcontent
			from notify n
		join boardcomment c on (n.cmno = c.cmno)
	</select>
	
	<select id="boardCautionListCount" resultType="_int">
		select count(*)
		from notify
	</select>
	
	<select id="boardCautionList" resultMap="notifyResultSet">
		select *
		from notify
		where bno is not null	
	</select>
	
	<select id="getReplyCautionListCount" resultType="_int">
		select count(*)
		from notify
	</select>
	
	<select id="replyCautiontList" resultMap="notifyResultSet">
		select n.no_no, n.enrolldata, n.status, n.no_kind, n.no_check, n.sinuser, n.pigouser, r.rpcontent
		from notify n 
		join reply r on (n.rpno = r.rpno)
	</select>
	
	<select id="cautionview" resultMap="notifyResultSet">
		select n.sinuser, m.nickname, b.bno 
		from notify n
    		left join member m on n.pigouser = m.userid
    		left join board b on n.bno = b.bno
		where n.pigouser = #{userid} and n.bno is not null
	</select>
	
	<update id="warningboard">
		update notify
		set no_check = 'Y'
		where no_check = 'N' and no_no and pigouser in 
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
 	   		#{item}
		</foreach>
	</update>
	
	
<!-- 	<select id="replyselectList" resultMap="notifyResultSet"> -->
<!-- 		select * -->
<!-- 		from notify -->
<!-- 		where rpno = 'not null' -->
<!-- 		order by no_no desc -->
<!-- 	</select> -->
	
<!-- 	<selct id="comselectList" resultMap="notifyResultSet"> -->
<!-- 		select * -->
<!-- 		from notify -->
<!-- 		where cmno = 'not null' -->
<!-- 		order by no_no desc -->
<!-- 	</selct> -->
	
	
	<select id="waringnumber"  resultMap="notifyResultSet" parameterType="java.util.List">
		select *
		from notify
		where no_no in 
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
 	   		#{item}
		</foreach>
	</select>
	
	
	<update id="warningandcaution" parameterType="java.util.List">
		update notify
		set no_check = 'Y'
		where pigouser in 
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
 	   		#{item}
		</foreach>
	</update>

	<update id="warningMember" parameterType="java.util.List">
		update member
		set caution = 'Y'
		where userid in (select pigouser 
						from notify 
						where no_no in
						<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
								#{item}
						</foreach>
						)
	</update>
	
	<update id="cautionMember" parameterType="java.util.List">
		update member
		set caution = 'Y'
		where userid in (select pigouser 
						from notify 
						where no_no in
						<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
								#{item}
						</foreach>
						)
	</update>
	
	<select id="Memberlist" resultMap="notifyResultSet">
		select * 
		from notify
		where no_check = 'Y'
		order by no_no desc
	</select>
	
	
	<update id="deleteNotify" >
		update notify
		set status = 'Y'
		where no_no in
			<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
				#{item}
			</foreach>
	</update>
	
	<update id="deleteMember" parameterType="java.util.List">
		update member
		set status = 'N'
		where userid in (select pigouser
						 from notify
						 where no_no in
						 <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
						 		#{item}
						 </foreach>
						 )
	</update>
	
	<update id="deleteNotify2" >
		update notify
		set status = 'Y'
		where no_no in
			<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
				#{item}
			</foreach>
	</update>
	
	<update id="deleteMember2" parameterType="java.util.List">
		update member
		set status = 'N'
		where userid in (select pigouser
						 from notify
						 where no_no in
						 <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
						 		#{item}
						 </foreach>
						 )
	</update>
	
	<!-- 기업승인 -->
	<select id="companyListCount" resultType="_int">
		select count(*)
		from company
	</select>
	
	<select id="companylist" resultMap="CompanyResultSet">
		select *
		from company
		where approval = 'N' and status = 'Y'
	</select>
	
	
	
	<select id="adminCompanyDetail" resultMap="CompanyResultSet">
		select *
		from company
		where coId = #{coId}
	</select>
	
	<update id="companyanppoval">
		update company
		set approval = 'Y'
		where coId = #{coId}
	</update>
	
	<update id="uncompayanpporval">
		update company
		set status = 'N'
		where coId = #{coId}
	</update>
	
	<select id="qnaviewAnswer" resultMap="QnAResultSet">
		select * 
		from qna
		where q_no = #{q_no}
	</select>
	
	
	<resultMap type="notify" id="notifyResultSet">
		<id property="no_no" column="NO_NO"/>
		<result property="enrolldata" column="ENROLLDATA"/>
		<result property="status" column="STATUS"/>
		<result property="no_kind" column="NO_KIND"/>
		<result property="no_check" column="NO_CHECK"/>
		<result property="bno" column="BNO"/>
		<result property="cmno" column="CMNO"/>
		<result property="rpno" column="RPNO"/>
		<result property="sinuser" column="SINUSER"/>
		<result property="pigouser" column="PIGOUSER"/>
		<result property="nickname" column="NICKNAME"/>
	</resultMap>
	
	
	<resultMap id="CompanyResultSet" type="Company">
		<id property="coId" column="COID"/>
		<result property="coPwd" column="COPWD"/>
		<result property="coName" column="CONAME"/>
		<result property="compaName" column="COMPANAME"/>
		<result property="apName" column="APNAME"/>
		<result property="homePage" column="HOMEPAGE"/>
		<result property="coTel" column="COTEL"/>
		<result property="enrollDate" column="ENROLLDATE"/>
		<result property="status" column="STATUS"/>
		<result property="approval" column="APPROVAL"/>
		<result property="busiEmail" column="BUSIEMAIL"/>
		<result property="cpCheck" column="CPCHECK"/>
		<result property="checkImg" column="CHECKIMG"/>
		<result property="point" column="POINT"/>
		<result property="cateNum" column="CATENUM"/>
		<result property="coIntro" column="COINTRO"/>
		<result property="coInfo" column="COINFO"/>
	</resultMap>
	
	<resultMap id="memberResultSet" type="Member">
	<id property="userId" column="USERID"/>
	<result property="userPwd" column="USERPWD"/>
	<result property="userName" column="USERNAME"/>
	<result property="phone" column="PHONE"/>
	<result property="email" column="EMAIL"/>
	<result property="birth" column="BIRTH"/>
	<result property="gender" column="GENDER"/>
	<result property="nickName" column="NICKNAME"/>
	<result property="caution" column="CAUTION"/>
	<result property="prImage" column="PR_IMAGE"/>
	<result property="fwCount" column="FW_COUNT"/>
	<result property="enrollDate" column="ENROLLDATE"/>
	<result property="status" column="STATUS"/>
	</resultMap>
	
	
	<select id="selectQna" resultMap="QnAResultSet">
		select *
		from qna
		where q_no = #{q_no}
	</select>
	
	<select id="selectNotify" resultMap="notifyResultSet" parameterType="java.util.List">
		select *
		from notify
		where no_no  in 
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
		 		#{item}
		 </foreach>
	</select>
	
	<select id="selectWarning" resultMap="WarningResultSet">
		select bkNo, nickName, bNo, pigouser
		from notify n
		join board b using(bno)
		join member m on(m.userid = pigouser)
		where no_no = #{no_no}
	</select>
	<select id="selectWarning2" resultMap="WarningResultSet">
		select bkNo, nickName, bNo, pigouser
		from notify n
		join boardcomment bc using (cmno)
		join board b on (b.bno = bc.bno)
		join member m on(bc.userid = m.userid)
		where no_no = #{no_no}
	</select>
	<select id="selectWarning3" resultMap="WarningResultSet">
		select bkNo, nickName, bNo, pigouser
		from notify n
		join reply r using (rpno)
		join BOARDCOMMENT bc on (bc.cmno = r.cmno)
		join board b on (bc.bno = b.bno)
        join member m on(r.userid = m.userid)
		where no_no = #{no_no}
	</select>
	
	<resultMap type="Warning" id="WarningResultSet">
		<result property="bkNo" column="bkNo"/>
		<result property="nickName" column="nickName"/>
		<result property="bNo" column="bNo"/>
		<result property="userId" column="pigouser"/>
	</resultMap>
</mapper >
