<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mtbatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commonMapper">
	<select id="memberLogin" parameterType="Member" resultMap="commonResultSet">
		select *
		from Member
		where userid=#{userid} and userpwd = #{userpwd}
	</select>
	<resultMap id="commonResultSet" type="Member">
	<id property="userid" column="USERID"/>
	<result property="userpwd" column="USERPWD"/>
	<result property="username" column="USERNAME"/>
	<result property="phone" column="PHONE"/>
	<result property="email" column="EMAIL"/>
	<result property="birth" column="BIRTH"/>
	<result property="gender" column="GENDER"/>
	<result property="nickname" column="NICKNAME"/>
	<result property="caution" column="CAUTION"/>
	<result property="prImage" column="PR_IMAGE"/>
	<result property="fwCount" column="FW_COUNT"/>
	<result property="enrollDate" column="ENROLLDATE"/>
	</resultMap>
	
	<insert id="insertMember" parameterType="Member">
		insert into Member
		values(#{userid}, #{userpwd}, #{username}, #{phone}, #{email}, #{birth}, #{gender}, #{nickname}, sysdate, sysdate, sysdate, default)
	</insert>
	
</mapper>