<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="exMapper">

	<select id="selectCompanyInfo" resultMap="CompanyResultSet">
		select * 
		from company
		where coid=#{coId} and status='Y'
	</select>

	<update id="updateExInfo">
		update company 
		set cointro=#{coIntro}, coinfo=#{coInfo}
		where coid=#{coId}
	</update>
	
	<select id="selectCateList" resultMap="BucketResultSet">
		select *
		from bucketlist
		where catenum = #{catenum}
	</select>
	
	<update id="insertComBucket">
		insert into cominbucket
		values(SEQ_COMINBUCKET.nextval,#{coId},#{bkNo},sysdate)
		
 	</update>
	
	<select id="selectComBucket" resultMap="BucketResultSet">
		select *
		from bucketlist
		where bkno in (select bkno 
                    from cominbucket 
                    where coid=#{coid})
	</select>
	
	<select id="selectBucket" resultMap="BucketResultSet">
		select*
		from bucketlist
		where bkno =#{bkNo}
	</select>
	
	<insert id="insertEsrequest">
		insert into ESREQUEST
		values(seq_esrequest.nextval,#{esr_endDate},sysdate,#{userId},#{coId},#{bkNo},#{esr_startDate},#{precautions},'Y')
	</insert>
	
	<select id="selectEsRequest" resultMap="esrequestSet">
		select * 
		from esrequest
		where coid =#{coId} and status ='Y'
		order by esr_no desc
	</select>
	

	<select id="RequestDetail" resultMap="esrequestSet">
		select *
		from esrequest
		where esr_no =#{ esr_no }
	</select>
	
	<insert id="insertEstimate">
		insert into estimate
		values(seq_estimate.nextval,#{es_content},sysdate,#{es_price},
			#{es_phone},#{userId},#{coId},#{reviewContent},#{reviewScore},
			#{bkNo},#{status},#{es_option},#{esr_no})
	</insert>
	
	
	<insert id="insertEsmedia">
	 insert into media
		values(seq_media.nextval, #{morigin}, #{mweb},3, 6, null, null,
		null, null, seq_estimate.currval)
	</insert>
	
	<select id="selectEstimateList" resultMap="estimateSet">
		select * from estimate
		where coid=#{coId} and status='1'
		order by es_no desc
	</select>
	
	<select id="selectEstimate" resultMap="estimateSet">
		select * from estimate 
		where es_no = #{esno}
		
	</select>
	
	<select id="selectEsRequestOne" resultMap="esrequestSet">
		select * from esrequest
		where esr_no = #{esr_no}
		order by esr_no desc
	</select>
	
	<select id="selectMediaList" resultMap="MediaResultSet">
		select * from media
		where es_no=#{es_no}
	</select>
	
	<select id="selectMakingEstimateList" resultMap="estimateSet">
		select * from estimate
		where coid = #{coId} AND status='2'
		order by es_no desc
	</select>
	
	<update id="updateEstimate">
		update estimate 
		set es_content=#{es_content}, es_price=#{es_price},status=#{status},es_option=#{es_option}
		where es_no=#{es_no}
	</update>
	<delete id="deleteMedia">
		delete from media
		where mnumber = #{mnumber}
	</delete>
	
	<update id="updateEsRequestPosition">
		update esrequest
		set status='N'
		where esr_no=#{esr_no}
	</update>
	
	<insert id="updateEsmedia">
	 insert into media
		values(seq_media.nextval, #{morigin}, #{mweb},3, 6, null, null,
		null, null, #{esNo})
	</insert>
	
	<select id="selectBucketMedia" resultMap="MediaResultSet">
		select * from media
		where IMGVIDEO =1 and MUSE = 1
	</select>
	
	<select id="selectCompleteEstimateList" resultMap="estimateSet">
		select * 
		from estimate
		where coid = #{coId} AND status='3'
		order by es_no desc
	</select>
	
	<select id="selectUserEstimate" resultMap="estimateSet">
		select * from estimate
		where userid = #{userId} and status='1'
		order by es_no desc
	</select>
	
	<select id="selectMyEstimatimate" resultMap="estimateSet">
		select * from estimate
		where userid=#{userId} and status=#{status}
		order by es_no desc
	</select>
	
	<update id="insertReview">
		update estimate 
		set REVIEWSCORE =#{reviewScore},REVIEWCONTENT=#{reviewContent}
		where es_no=#{es_no}
	</update>
	
	<insert id="insertEvent">
		insert into c_event
		values(SEQ_CEVENT.nextval,#{eventTitle},#{eventContent},#{eventImg},#{coId},#{eventDate},#{bkNo})
	</insert>
	
	<delete id="deleteEstimate">
		update estimate
		set status = 4
		where es_no = #{es_no}
	</delete>
	
	<select id="getEsreqListCount" resultType="_int">
		select count(*)
		from ESREQUEST
		where coid =#{coId} and status ='Y'
	</select>
	
	<select id="EsListCount" resultType="_int">
		select count(*)
		from estimate
		where coid =#{coId} and status = #{status}
	</select>
	
	<select id="selectcoProImg" resultMap="MediaResultSet">
		select *
		from media
		where coid=#{coId} and muse = 4
	</select>
	
	<select id="selectbkImg" resultMap="MediaResultSet">
		select *
		from media
		where bkno=#{bkNo} and muse = 1
	</select>
	
	<select id="selectEstimateAddList" resultMap="estimateSet">
		select * 
		from estimate
		where coid = #{coId} AND status=#{status}
		order by es_no desc
	</select>
	
	<resultMap id="estimateSet" type="estimate">
		<id property="es_no" column="ES_NO"/>
		<result property="esr_no" column="ESR_NO"/>
		<result property="es_content" column="ES_CONTENT"/>
		<result property="enrollDate" column="ENROLLDATE"/>
		<result property="es_price" column="ES_PRICE"/>
		<result property="es_option" column="ES_OPTION"/>
		<result property="es_phone" column="ES_PHONE"/>
		<result property="userId" column="USERID"/>
		<result property="coId" column="COID"/>
		<result property="reviewContent" column="REVIEWCONTENT"/>
		<result property="reviewScore" column="REVIEWSCORE"/>
		<result property="bkNo" column="BKNO"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap id="CompanyResultSet" type="Company">
		<id property="coId" column="COID"/>
		<result property="coPwd" column="COPWD"/>
		<result property="coName" column="CONAME"/>
		<result property="compaName" column="COMPANAME"/>
		<result property="apName" column="APNAME"/>
		<result property="homePage" column="HOMEPAGE"/>
		<result property="coTel" column="COTEL"/>
		<result property="enrollDate" column="ENROLLDATE"/>
		<result property="status" column="STATUS"/>
		<result property="approval" column="APPROVAL"/>
		<result property="busiEmail" column="BUSIEMAIL"/>
		<result property="cpCheck" column="CPCHECK"/>
		<result property="checkImg" column="CHECKIMG"/>
		<result property="point" column="POINT"/>
		<result property="cateNum" column="CATENUM"/>
		<result property="coIntro" column="COINTRO"/>
		<result property="coInfo" column="COINFO"/>
	</resultMap>

	<resultMap type="Bucket" id="BucketResultSet">
		<id property="bkNo" column="BKNO"/>
		<result property="bkName" column="BKNAME"/>
		<result property="bkContent" column="BKCONTENT"/>
		<result property="tag" column="TAG"/>
		<result property="enrolldate" column="ENROLLDATE"/>
		<result property="bkLike" column="BKLIKE"/>
		<result property="userId" column="USERID"/>
		<result property="complete" column="COMPLETE"/>
		<result property="cateNum" column="CATENUM"/>
	</resultMap>
	
	<resultMap type="ComInBucket" id="ComInBucketSet">
		<id property="coinbucket" column="COINBUCKET"/>
		<result property="coId" column="COID"/>
		<result property="bkNo" column="BKNO"/>
		<result property="bucketEnroll" column="BUCKETENROLL"/>
	</resultMap>
	
	<resultMap type="Esrequest" id="esrequestSet">
		<id property="esr_no" column="ESR_NO"/>
		<result property="esr_enrollDate" column="ESR_ENROLLDATE"/>
		<result property="esr_startDate" column="ESR_STARTDATE"/>
		<result property="esr_endDate" column="ESR_ENDDATE"/>
		<result property="precautions" column="PRECAUTIONS"/>
		<result property="userId" column="USERID"/>
		<result property="coId" column="COID"/>
		<result property="bkNo" column="BKNO"/>
	</resultMap>
	
	<resultMap type="Media" id="MediaResultSet">
		<id property="mnumber" column="MNUMBER"/>
		<result property="morigin" column="MORIGIN"/>
		<result property="mweb" column="MWEB"/>
		<result property="imgvideo" column="IMGVIDEO"/>
		<result property="muse" column="MUSE"/>
		<result property="bkno" column="BKNO"/>
		<result property="bno" column="BNO"/>
		<result property="coid" column="COID"/>
		<result property="feno" column="FENO"/>
		<result property="esNo" column="ES_NO"/>
	</resultMap>
</mapper>
