<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="exMapper">

	<select id="selectCompanyInfo" resultMap="CompanyResultSet">
		select * 
		from company
		where coid=#{coId} and status='Y'
	</select>
	
	<resultMap id="CompanyResultSet" type="Company">
		<id property="coId" column="COID"/>
		<result property="pwd" column="COPWD"/>
		<result property="coName" column="CONAME"/>
		<result property="compaName" column="COMPANAME"/>
		<result property="apName" column="APNAME"/>
		<result property="homePage" column="HOMEPAGE"/>
		<result property="coTel" column="COTEL"/>
		<result property="enrollDate" column="ENROLLDATE"/>
		<result property="status" column="STATUS"/>
		<result property="approval" column="APPROVAL"/>
		<result property="busiEmail" column="BUSIEMAIL"/>
		<result property="cpCheck" column="CPCHECK"/>
		<result property="checkImg" column="CHECKIMG"/>
		<result property="point" column="POINT"/>
		<result property="cateNum" column="CATENUM"/>
		<result property="coIntro" column="COINTRO"/>
		<result property="coInfo" column="COINFO"/>
	</resultMap>

	<update id="updateExInfo">
		update company 
		set cointro=#{coIntro}, coinfo=#{coInfo}
		where coid=#{coId}
	</update>
	
</mapper>
