<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="exMapper2">

	<select id="selectCompanyInfo" resultMap="CompanyResultSet">
		select * 
		from company
		where coid=#{coId} and status='Y'
	</select>
	
	<!-- 기업소개 변경 -->
	<update id ="updateCompany">
		update COMPANY
		<if test="checkImg != null">
		set CONAME=#{coName},COMPANAME=#{compaName},CHECKIMG=#{checkImg},CATENUM=#{cateNum},COINTRO=#{coIntro}
		where COID=#{coId}
		</if>
		<if test="checkImg == null">
		set CONAME=#{coName},COMPANAME=#{compaName},CATENUM=#{cateNum},COINTRO=#{coIntro}
		where COID=#{coId}
		</if>
	</update>
	
	<!-- 기업 보유 포인트 갱신 -->
	<update id ="updateCompanyPoint">
		update COMPANY
		set POINT = #{point}
		where COID = #{coId}
	</update>
	
	<!-- 기업 Top5 포인트 랭킹왕 -->
	<!-- ROWNUM 걍 넣으면 부등호떔에 에러나서 [CDATA] 넣어야함 -->
	<select id = "selectTop5havingPoint" resultMap="CompanyResultSet">
		select *
		from(select POINT,COID,CATENUM from company  order by point desc)
		where  <![CDATA[ ROWNUM <= 5 ]]>
	</select>
	
	<select id ="selectCateName" resultMap = "CategoryResultSet">
		select *
		from CATEGORY
		where CATENUM = #{cateNum}
	</select>
		
	<update id ="updatehelper">
		update COMPANY	
		set COPWD=#{coPwd},HOMEPAGE=#{homePage},COTEL=#{coTel},BUSIEMAIL=#{busiEmail}
		where COID=#{coId}
	</update>
	
	<resultMap id="CategoryResultSet" type="Category">
		<id property="cateNum" column="CATENUM"/>
		<result property="cateName" column="CATENAME"/>
	</resultMap>
	
	<resultMap id="CompanyResultSet" type="Company">
		<id property="coId" column="COID"/>
		<result property="pwd" column="COPWD"/>
		<result property="coName" column="CONAME"/>
		<result property="compaName" column="COMPANAME"/>
		<result property="apName" column="APNAME"/>
		<result property="homePage" column="HOMEPAGE"/>
		<result property="coTel" column="COTEL"/>
		<result property="enrollDate" column="ENROLLDATE"/>
		<result property="status" column="STATUS"/>
		<result property="approval" column="APPROVAL"/>
		<result property="busiEmail" column="BUSIEMAIL"/>
		<result property="cpCheck" column="CPCHECK"/>
		<result property="checkImg" column="CHECKIMG"/>
		<result property="point" column="POINT"/>
		<result property="cateNum" column="CATENUM"/>
		<result property="coIntro" column="COINTRO"/>
		<result property="coInfo" column="COINFO"/>
	</resultMap>


    <!-- PAY 내역리스트 총 개수 구한다. -->
	<select id = "getListCountAll" resultType ="_int">
	select count(*)
	from PAY
	</select>
	
	<!-- 특정 기업아이디와 일치하는 PAY 내역리스트 개수 구한다. -->
	<select id ="getListCount"  resultType ="_int">
	select count(*)
	from PAY
	where COID = #{coId}
	</select>
	
	<select id ="getListCountY"  resultType ="_int">
	select count(*)
	from PAY
	where COID = #{coId} AND STATUS = 'Y'
	</select>
	
	<select id ="getListCountN"  resultType ="_int">
	select count(*)
	from PAY
	where COID = #{coId} AND STATUS = 'N'
	</select>
	
		
	<!-- PAY 전체 리스트 -->
	<select id="selectListAll" resultMap = "PayResultSet">
	select *
	from PAY
	order by PA_NO desc
	</select>
	
	
	<!-- PAY 리스트(coid) -->
	<select id="selectList" resultMap = "PayResultSet">
	select *
	from PAY
	where COID = #{coId}
	order by PA_NO desc
	</select>
	
    <!-- PAY 리스트(coid) Y -->
	<select id="selectListY" resultMap = "PayResultSet">
	select *
	from PAY
	where COID = #{coId} AND STATUS = 'Y'
	order by PA_NO desc
	</select>
	
	<!-- PAY 리스트(coid) N-->
	<select id="selectListN" resultMap = "PayResultSet">
	select *
	from PAY
	where COID = #{coId} AND STATUS = 'N'
	order by PA_NO desc
	</select>
	
	
	<!-- PAY 충전금액 합계  -->
	<select id = "getYCount" resultType ="_int">
	select NVL(SUM(PA_PAY) ,0)
	from PAY
	where STATUS = 'Y' AND COID = #{coId}
	GROUP BY COID
	</select>
	
	<!-- PAY 사용내역 합계 -->
	<select id = "getNCount" resultType ="_int">
	select NVL(SUM(PA_PAY) ,0)
	from PAY
	where STATUS = 'N' AND COID = #{coId}
	GROUP BY COID
	</select>
	

	
	
	<insert id ="insertPoint">
		insert into PAY
		values(seq_pay.nextval, #{pa_pay}, #{coid}, #{status}, sysdate)
<!-- 		values(#{pa_no}, #{pa_pay}, #{coid}, #{status}, #{pdate}) -->
	</insert>

	
	<resultMap id="PayResultSet" type="Pay">
		<id property="pa_no" column="PA_NO"/>
		<result property="pa_pay" column="PA_PAY"/>
		<result property="coid" column="COID"/>
		<result property="status" column="STATUS"/>
		<result property="pdate" column="PDATE"/>
	</resultMap>
	

<!--  QNA  -->
	
 <!-- QNA 리스트 개수 구한다. -->
	<select id = "getListQnACount" resultType ="_int">
	select count(*)
	from QNA
	where COID = #{coId}
	</select>	
	
	<select id = "getListQnACountY" resultType ="_int">
	select count(*)
	from QNA
	where COID = #{coId} AND ANSWER = 'Y'
	</select>	
	
	<select id = "getListQnACountN" resultType ="_int">
	select count(*)
	from QNA
	where COID = #{coId} AND ANSWER = 'N'
	</select>	
	
	
	<!-- QNA 리스트(coid) -->
	<select id="selectQnAList" resultMap = "QnAResultSet">
	select *
	from QNA
	where COID = #{coId}
	order by Q_NO desc
	</select>
	
	<select id="selectQnAListY" resultMap = "QnAResultSet">
	select *
	from QNA
	where COID = #{coId} AND ANSWER = 'Y'
	order by Q_NO desc
	</select>
	
	<select id="selectQnAListN" resultMap = "QnAResultSet">
	select *
	from QNA
	where COID = #{coId} AND ANSWER = 'N'
	order by Q_NO desc
	</select>
	
	<insert id ="insertQnA">
		insert into QNA
		values(seq_qna.nextval,#{q_title},#{q_content},sysdate,'N',null,null,null,#{coid})
	</insert>
	
	<select id="selectQnAno" resultMap ="QnAResultSet">
		select *
		from QNA
		where Q_NO = #{q_no}
	</select>
	
	<delete id="deleteQnA">
		delete QNA
		where Q_NO = #{q_no}
	</delete>
	
	<update id="updateQnA">
		update QNA 
		set Q_TITLE = #{q_title}, Q_CONTENT = #{q_content}, Q_Date = sysdate
		where Q_NO = #{q_no}
	</update>
	<resultMap type="adminQnA" id="QnAResultSet">
		<id property="q_no" column="Q_NO"/>
		<result property="q_title" column="Q_TITLE"/>
		<result property="q_content" column="Q_CONTENT"/>
		<result property="q_date" column="Q_DATE"/>
		<result property="answer" column="ANSWER"/>
		<result property="an_date" column="AN_DATE"/>
		<result property="an_content" column="AN_CONTENT"/>
		<result property="userid" column="USERID"/>
		<result property="coid" column="COID"/>
	</resultMap>
	
	
</mapper>
