<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainMapper">

	<!-- 메인 List(최신순) -->
	<select id="selectBucketList" resultMap="BucketResultSet">
		select *
		from
		    (select BKNO, BKNAME, BKCONTENT, TAG, b.ENROLLDATE, BKLIKE, nickname, COMPLETE, CATENUM
		    from bucketList b
		    join member using(userid)
		    UNION
		    select b.BKNO BKNO, BKNAME, BKCONTENT, TAG, s.ENROLLDATE ENROLLDATE, BKLIKE, nickname, COMPLETE, CATENUM
		    from bucketList b
		    join SHAREBUCKET s on (b.bkNo = s.bkNo)
		    join member m on (s.userid = m.userid))
		order by ENROLLDATE desc
	</select>
	<resultMap type="Bucket" id="BucketResultSet">
		<id property="bkNo" column="BKNO"/>
		<result property="bkName" column="BKNAME"/>
		<result property="bkContent" column="BKCONTENT"/>
		<result property="tag" column="TAG"/>
		<result property="enrolldate" column="ENROLLDATE"/>
		<result property="bkLike" column="BKLIKE"/>
		<result property="userId" column="NICKNAME"/>
		<result property="complete" column="COMPLETE"/>
		<result property="cateNum" column="CATENUM"/>
	</resultMap>
	
	<!-- 메인 Recommment -->
	<select id="selectRecoBucketList" resultMap="BucketResultSet">
		select BKNO, BKNAME, BKCONTENT, TAG, b.ENROLLDATE, BKLIKE, nickname, COMPLETE, CATENUM
		from bucketlist b
		join member using(userid)
		where nickname = '관리자찡'
	</select>
	
	<!-- 메인 Ranking -->
	<select id="selectRankBucketList" resultMap="BucketResultSet">
		select *
		from
		    (select BKNO, BKNAME, BKCONTENT, TAG, b.ENROLLDATE, BKLIKE, nickname, COMPLETE, CATENUM
		    from bucketList b
		    join member using(userid)
		    UNION
		    select b.BKNO BKNO, BKNAME, BKCONTENT, TAG, s.ENROLLDATE ENROLLDATE, BKLIKE, nickname, COMPLETE, CATENUM
		    from bucketList b
		    join SHAREBUCKET s on (b.bkNo = s.bkNo)
		    join member m on (s.userid = m.userid))
		order by bklike desc, ENROLLDATE desc
	</select>
	
	<!-- 메인 Company -->
	<select id="selectCompany" resultType="Company">
		select *
		from company
		where approval = 'Y'
	</select>
	<select id="selectCompMedia" resultMap="MediaResultSet">
		select *
		from media
		where coid is not null
	</select>
	
	<!-- 헬퍼버킷리스트 -->
	<select id="selectCoBucket" resultMap="BucketResultSet">
		select BKNO, BKNAME, BKCONTENT, TAG, b.ENROLLDATE, BKLIKE, nickname, COMPLETE, CATENUM
		    from bucketList b
		    join member using(userid)
            join cominbucket using(bkno)
		where COID = #{coId}
	</select>
	
	<select id="selectBLImg" resultMap="MediaResultSet">
		select *
		from media
		where bkno is not null
	</select>
	<resultMap type="Media" id="MediaResultSet">
		<id property="mnumber" column="MNUMBER"/>
		<result property="morigin" column="MORIGIN"/>
		<result property="mweb" column="MWEB"/>
		<result property="imgvideo" column="IMGVIDEO"/>
		<result property="muse" column="MUSE"/>
		<result property="bkno" column="BKNO"/>
		<result property="bno" column="BNO"/>
		<result property="coid" column="COID"/>
		<result property="feno" column="FENO"/>
		<result property="esNo" column="ES_NO"/>
	</resultMap>
	
	<!-- 메인 버킷 좋아요 -->
	<select id="blLikeCheck" resultType="_int">
		select count(*)
		from bucketlike
		where userid = #{userId}
		and bkNo = #{bkNo}
	</select>
	<update id="blLikeDown">
		update bucketlist
		set bklike = bklike - 1
		where bkno = #{bkNo}
	</update>
	<delete id="deleteblLike">
		delete from bucketlike
		where userid = #{userId}
		and bkNo = #{bkNo}
	</delete>
	<update id="blLikeUp">
		update bucketlist
		set bklike = bklike + 1
		where bkno = #{bkNo}
	</update>
	<insert id="insertblLike">
		insert into bucketlike
		values(seq_bucketlike.nextval, sysdate, #{userId}, #{bkNo})
	</insert>
	<select id="blLike" resultType="_int">
		select bklike
		from bucketlist
		where bkNo = #{bkNo}
	</select>
	
	<!-- 위시 등록취소 -->
	<select id="blWishCheck" resultType="_int">
		select count(*)
		from wishlist
		where userid = #{userId}
		and bkNo = #{bkNo}
	</select>
	<delete id="deleteWish">
		delete from wishlist
		where userid = #{userId}
		and bkNo = #{bkNo}
	</delete>
	<insert id="insertWish">
		insert into wishlist
		values(seq_wishlist.nextval, sysdate, #{bkNo}, #{userId})
	</insert>
	
	<!-- 로그인한 회원 위시리스트 -->
	<select id="selectWishList" resultType="WishList">
		select *
		from wishlist
		where userid = #{userId}
	</select>
	
	<!-- 버킷공유하기 -->
	<insert id="blShere">
		insert into sharebucket
		values(seq_sharebucket.nextval, #{bkNo}, #{userId}, sysdate)
	</insert>
	
	<!-- 로그인한 회원 공유버킷리스트 -->
	<select id="selectShereList" resultType="ShareBucket">
		select *
		from sharebucket
		where userid = #{userId}
	</select>
	
	<!-- 이 버킷공유한 버킷회원 -->
	<select id="selectShareMList" parameterType="_int" resultMap="memberResultSet">
		select *
		from (select USERID, USERPWD, USERNAME, PHONE, EMAIL, BIRTH, GENDER, NICKNAME, CAUTION, PR_IMAGE, FW_COUNT, m.ENROLLDATE ENROLLDATE, STATUS
				from member m
				join sharebucket using(userid)
		        where bkno = #{bkNo}
		        UNION
		      select USERID, USERPWD, USERNAME, PHONE, EMAIL, BIRTH, GENDER, NICKNAME, CAUTION, PR_IMAGE, FW_COUNT, m.ENROLLDATE ENROLLDATE, STATUS
		        from member m
		        join bucketlist using(userid)
		        where bkno = #{bkNo})
	</select>
	<resultMap id="memberResultSet" type="Member">
	<id property="userId" column="USERID"/>
	<result property="userPwd" column="USERPWD"/>
	<result property="userName" column="USERNAME"/>
	<result property="phone" column="PHONE"/>
	<result property="email" column="EMAIL"/>
	<result property="birth" column="BIRTH"/>
	<result property="gender" column="GENDER"/>
	<result property="nickName" column="NICKNAME"/>
	<result property="caution" column="CAUTION"/>
	<result property="prImage" column="PR_IMAGE"/>
	<result property="fwCount" column="FW_COUNT"/>
	<result property="enrollDate" column="ENROLLDATE"/>
	<result property="status" column="STATUS"/>
	</resultMap>
	
	<!-- 블로그불러오기 -->
	<select id="selectbMList" resultMap="BoardResultSet">
		select BNO, BTITLE, BCONTENT, BLIKE, BCOUNT, b.ENROLLDATE, b.STATUS, NICKNAME, BKNO
		from board b
		join member using(userid)
		where bkno = #{bkNo} and NICKNAME = #{nickName}
	</select>
	
	<!-- 메인블로그숫자표시 -->
	<select id="selectBlogList" resultMap="BoardResultSet">
		select BNO, BTITLE, BCONTENT, BLIKE, BCOUNT, b.ENROLLDATE, b.STATUS, NICKNAME, BKNO
		from board b
		join member using(userid)
	</select>
	
	<resultMap type="Board" id="BoardResultSet">
		<id property="bNo" column="BNO"/>
		<result property="bTitle" column="BTITLE"/>
		<result property="bContent" column="BCONTENT"/>
		<result property="bLike" column="BLIKE"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="enrollDate" column="ENROLLDATE"/>
		<result property="status" column="STATUS"/>
		<result property="userid" column="NICKNAME"/>
		<result property="bkNo" column="BKNO"/>
	</resultMap>
	
	<!-- 검색하기위해서 불러올 값들 -->
	<select id="selectAllMember" resultMap="memberResultSet">
	 	select *
	 	from member
	 	where userid != 'admin' and status = 'Y'
	</select>
	<select id="selectAllBucket" resultType="Bucket">
		select *
		from bucketlist
	</select>
	<select id="selectAllCompany" resultType="Company">
		select *
		from company
		join media using(coid)
	</select>
	
	<!-- 검색한 버킷리스트 -->
	<select id="selectSearchBucket" resultMap="BucketResultSet">
		select *
		from
		    (select BKNO, BKNAME, BKCONTENT, TAG, b.ENROLLDATE, BKLIKE, nickname, COMPLETE, CATENUM
		    from bucketList b
		    join member using(userid)
		    UNION
		    select b.BKNO BKNO, BKNAME, BKCONTENT, TAG, s.ENROLLDATE ENROLLDATE, BKLIKE, nickname, COMPLETE, CATENUM
		    from bucketList b
		    join SHAREBUCKET s on (b.bkNo = s.bkNo)
		    join member m on (s.userid = m.userid))
		where BKNAME like '%' || #{b} || '%'    
		order by ENROLLDATE desc
	</select>
	<select id="selectSearchTag" resultMap="BucketResultSet">
		select *
		from
		    (select BKNO, BKNAME, BKCONTENT, TAG, b.ENROLLDATE, BKLIKE, nickname, COMPLETE, CATENUM
		    from bucketList b
		    join member using(userid)
		    UNION
		    select b.BKNO BKNO, BKNAME, BKCONTENT, TAG, s.ENROLLDATE ENROLLDATE, BKLIKE, nickname, COMPLETE, CATENUM
		    from bucketList b
		    join SHAREBUCKET s on (b.bkNo = s.bkNo)
		    join member m on (s.userid = m.userid))
		where TAG like '%' || #{t} || '%'    
		order by ENROLLDATE desc
	</select>
	<select id="selectSearchCompany" resultType="Company">
		select *
		from company
		join media using(coid)
		where coname like '%' || #{c} || '%'
	</select>
	
	<!-- 로그인한 기업이 등록한 버킷인지 -->
	<select id="countDetailWhat" resultType="_int">
		select count(*)
		from cominbucket
		where coid = #{coId} and bkno = #{bkNo}
	</select>
	
	<!-- 버킷에 등록된 기업 -->
	<select id="selectDetailCompany" resultType="Company">
		select *
		from company
		join cominbucket using(coid)
		where bkno = #{bkNo}
	</select>
	
	<!-- 저장된 행사 불러옴 -->
	<select id="selectFestival" resultType="Festival">
		select *
		from festival
		where fedate like #{year} || '%'
	</select>
	<select id="selectFmList" resultMap="MediaResultSet">
		select *
		from media
		where feno is not null
	</select>
	
	<!-- 저장된 기업 행사 불러옴 -->
	<select id="selectCpFestival" resultType="C_eventNBucketList">
		select EVENTNUM, EVENTTITLE, EVENTCONTENT, EVENTIMG, COID, EVENTDATE, BKNO, BKNAME
		from c_event
		join bucketlist using(bkno)
		where eventdate like #{year} || '%'
	</select>
	
	<!-- 기업이 지원하는 버킷리스트 가져오기 -->
	<select id="selectDetailSup" resultType="Bucket">
		select *
		from bucketlist
		where bkno in (select bkno from cominbucket where coid = #{coId})
	</select>
	
	<!-- 기업 버킷 없애기 -->
	<delete id="deleteCoBucekt">
		delete from cominbucket
		where coid = #{coId} and bkno = #{bkNo}
	</delete>
	
	<!-- 메인에서의 기업행사 가져오기 -->
	<select id="selectCpEvent" resultType="C_event">
		select *
		from c_event
		where bkno = #{bkNo}
	</select>
	
	<!-- 인포에서 닉네임 체크 -->
	<select id="selectNickCheck" resultType="_int">
		select count(*)
		from member
		where nickname = #{nickName}
	</select>
</mapper>
