<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTO Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.BucketStory.expert.model.vo.Company" alias="Company"/>
		<typeAlias type="com.kh.BucketStory.expert.model.vo.Pay" alias="Pay"/>
		<typeAlias type="com.kh.BucketStory.expert.model.vo.Category" alias="Category"/>
		<typeAlias type="com.kh.BucketStory.bucket.model.vo.BucketList" alias="Bucket"/>
		<typeAlias type="com.kh.BucketStory.bucket.model.vo.ComInBucket" alias="ComInBucket"/>
    	<typeAlias type="com.kh.BucketStory.bucket.model.vo.Media" alias="Media"/>
		<typeAlias type="com.kh.BucketStory.bucket.model.vo.WishList" alias="WishList"/>
		<typeAlias type="com.kh.BucketStory.bucket.model.vo.ShareBucket" alias="ShareBucket"/>
		<typeAlias type="com.kh.BucketStory.common.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.BucketStory.member.model.vo.MemberMyBucketList" alias="MemberMyBucketList"/>
		<typeAlias type="com.kh.BucketStory.admin.model.vo.Festival" alias="Festival"/>
		<typeAlias type="com.kh.BucketStory.admin.model.vo.adminQnA" alias="adminQnA"/>
		<typeAlias type="com.kh.BucketStory.admin.model.vo.Notify" alias="Notify"/>
		<typeAlias type="com.kh.BucketStory.expert.model.vo.EsRequest" alias="Esrequest"/>
	    <typeAlias type="com.kh.BucketStory.member.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.BucketStory.expert.model.vo.Estimate" alias="estimate"/>
    	<typeAlias type="com.kh.BucketStory.member.model.vo.BoardComment" alias="BoardComment"/>
    	<typeAlias type="com.kh.BucketStory.member.model.vo.Reply" alias="Reply"/>    	
    	<typeAlias type="com.kh.BucketStory.member.model.vo.Follow" alias="Follw"/>    	
		<typeAlias type="com.kh.BucketStory.expert.model.vo.C_event" alias="C_event"/>
		<typeAlias type="com.kh.BucketStory.bucket.model.vo.C_eventNBucketList" alias="C_eventNBucketList"/>
		<typeAlias type="com.kh.BucketStory.bucket.model.vo.Alarm" alias="Alarm"/>
		<typeAlias type="com.kh.BucketStory.member.model.vo.BLike" alias="BLike"/>
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/expert-mapper.xml"/>
		<mapper resource="mappers/expert2-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/main-mapper.xml"/>
		<mapper resource="mappers/common-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
	</mappers>
	
</configuration>