<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTO Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.BucketStory.expert.model.vo.Company" alias="Company"/>
		<typeAlias type="com.kh.BucketStory.expert.model.vo.Pay" alias="Pay"/>
		<typeAlias type="com.kh.BucketStory.bucket.model.vo.BucketList" alias="Bucket"/>
		<typeAlias type="com.kh.BucketStory.bucket.model.vo.ComInBucket" alias="ComInBucket"/>
    <typeAlias type="com.kh.BucketStory.bucket.model.vo.Media" alias="Media"/>
		<typeAlias type="com.kh.BucketStory.bucket.model.vo.WishList" alias="WishList"/>
		<typeAlias type="com.kh.BucketStory.bucket.model.vo.ShareBucket" alias="ShareBucket"/>
		<typeAlias type="com.kh.BucketStory.common.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.BucketStory.member.model.vo.MemberMyBucketList" alias="MemberMyBucketList"/>
		<typeAlias type="com.kh.BucketStory.admin.model.vo.Festival" alias="Festival"/>
		<typeAlias type="com.kh.BucketStory.admin.model.vo.adminQnA" alias="adminQnA"/>
        <typeAlias type="com.kh.BucketStory.member.model.vo.Board" alias="Board"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/expert-mapper.xml"/>
		<mapper resource="mappers/expert2-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/main-mapper.xml"/>
		<mapper resource="mappers/common-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
	</mappers>
	
</configuration>