@charset "UTF-8";
#page{width:60%; margin: 0 auto;}
	#profileImg {
	width: 166px;
	height: 166px;
	border-radius: 100px;
}
section {
	width: 100%;
	min-height: 100px;
/* 	background: green; */
	margin-top: 5px;
}
#profileImage {
	        width: 210px;
    height: 197px;
    margin-left: 81px;
    margin-right: 14px;
    float: left;
	}
	#helperProfile{
	width: 80%;
	height: 200px;
	margin:auto;
}
#coIntro {
    width: 67%;
    margin-left: 259px;
    height: 112px;
}
	.subtitle{width:80%;margin:auto;}
	#inputSchedule{
		width:100%;
	}
	#Precautions{display: block;
   				 margin: auto;
   				 width:80%;}
   	#contents{  width: 450px;
			    height: 420px;
			    float: left;}
   	#estimate{width:80%;margin:auto;height:510px}
   	#costTable{display: inline-table;
			    width: 47%;
			    margin-left: 20px;
			    margin-top: 70px;
			    float:left;}
	button{ border-style: none;
    		width: 165px;
  			height: 50px;
  			cursor:pointer;}
  	.deleteOption{cursor:pointer;}
  	.ppp{
	width: 100px;
    text-align: right;
}
div#buttonArea {
    text-align: center;
    margin-bottom: 50px;
}