@charset "UTF-8";
#page{width:90%; margin:0 auto;}
 #page a:link { color: red; text-decoration: none;}
 #page a:visited { color: black; text-decoration: none;}
 #page a:hover { color: blue; text-decoration: none;}
	li { list-style: none; float:left; } 
	div#requestMember {
    width: 720px;
    margin: 0 auto;
    height: 165px;
    margin-top: 24px;
}
	#requestImage {
    width: 120px;
    height: 120px;
    margin-right: 28px;
}
	#requestMember>table>tbody>tr>td:nth-child(3){
		    width: 150px;
	}
	#bucketListDetail {
    text-align: center;
    background: lightgray;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
	#ListArea{
	width:50px; background:lightgray;margin:0 auto;
	cursor:pointer;
	}
	#delete {
    display: block;
    height: 30px;
    background: lightgrey;
    text-align: center;
    line-height: 30px;
}