@charset "UTF-8";
#body-wrap {
	width: 1000px;
	min-height: 500px;
	margin: 0 auto;
}
section {
	width: 100%;
	min-height: 100px;
/* 	background: green; */
	margin-top: 5px;
}

#profileImg {
	width: 166px;
	height: 166px;
	border-radius: 100px;
}

#table_area {
	margin: 0 auto;
}

#table_area>tbody>tr>td {
	width: 180px;
	height: 70px;
}

#profileImage {
	    width: 210px;
	    height: 197px;
	    margin-left: 41px;
	    margin-right: 14px;
	    float: left;
	}
#coIntro{
	width: 67%;
    margin-left: 259px;
    height: 112px;
}
#helperProfile{
	width: 80%;
	height: 200px;
	margin:auto;
}
.btn{    width: 200px;
    height: 40px;
    border: none;
   	cursor: pointer;
   }
.btn:hover{
	background:coral;
}
#btnarea{
	width:100%;
}
#esrequest {
    margin-left: 32%;
    margin-bottom: 33px;
}
.subtitle{width:80%;margin:auto;}
#inputSchedule{
	width:100%;
}
#precautions{display: block;
   	margin: auto;
   	width:80%;}
.ppp{
	width: 100px;
    text-align: right;
}
 #bucketArea{
   width:100%;
   height:450px;}
   img#bkImg {
    width: 100%;
    height: 100%;
   
} 
#bkContent{
	width: 33%;
    height: 295px;
    position: absolute;
    top: 325px;
    background: whitesmoke;
    text-align: left;
    font-size: medium;
    margin-left: 235px;
    overflow: auto;
    font-weight: 500;
    background-color: rgba( 255, 255, 255, 0.8 );
    }