@charset "UTF-8";
    .inner_content2{
        background: url("../images/moon.jpg");
        background-size: cover;
        width: 100%;
        height: auto;
    }
    .inner_content2 .helperEdit2{
/*         width: 980px;
        margin: 0 auto;
        height: 800px;
        background-color: rgba(0,0,0,0.075);
        border-radius: 25px; */
        padding : 20px;
		z-index:-1;
		
		         width: 1200px; 
         margin: 0 auto; 
         height: 950px;
         background: url("../images/imac.png");
        background-size: cover;
/*         background-color: #fff; */
        border-radius: 25px;
        padding : 20px;
		z-index:-1;
    }
    
    #submitform2{
/*     	 background: url("../images/com.jpg"); */
/*         background-size: cover; */
/* 		background:#dff0f3; */
/*     	width:1100px; */
/*     	height:700px; */
/*     	margin: 0 auto; */
/*     	border-radius: 25px; */
/*     	border: 40px solid #333; */
    	transition: 1s;
    }
    .submitAreaOff2{
    	transform:translateY(5px);
   		 zoom: 0.5;
    }
     .submitAreaOn2{
        background:#dff0f3;
    	width:1100px;
    	height:710px;
    	margin: 0 auto;
    	border-radius: 25px;
    	border: 40px solid #333;
		zoom: 1;
     }
	.pwdCheck{
        width:auto;
        height:15px;
        display:none;
	}
	.pwdCheck .pwdImg{
		width:15px;
	    height:15px;
	    float: left; 
	}
	.pwdCheck p{
		
	}
    .title{
        font-size: 20px;
        padding: 10px;
        color: #333;
        background-color:rgba(0,0,0,0.075);
        border-radius: 5px;
    }
    table.th2{
        margin: 0 auto;
        margin-top: 150px;
         background:#dff0f3;
/*         background:rgba(0,0,0,0.075); */
        padding-left:15px;
        padding-right:15px;
        border-radius: 15px;
        width: 700px;
        
    }
    .rown{
        font-weight: bold;
        font-size: 17px;
        padding: 5px;
        width: 140px;
    
    }
    #textArea{
        width: 450px;
        height: 200px;
        resize: none;
    }

    .inner_content2 input{
        width: 180px;
        height: 22px;
        border-radius: 4px;
    }
    .inner_content2 textarea{
        border-radius: 4px;
    }

    #submitBtn-Area{text-align: center;}
    #submitBtn{ margin:0 auto; }
    #img-area, img{
        width: 360px;
        height: 250px;
        background-size: cover;
        border-radius: 4px;
    }