@charset "UTF-8";
    .inner_content{
        background: url("../images/moon.jpg");
        background-size: cover;
        width: 100%;
        height: auto;
    }
    .inner_content .helperEdit{
/*         width: 980px; */
/*         margin: 0 auto; */
/*         height: 800px; */
         width: 1200px; 
         margin: 0 auto; 
         height: 950px;
         background: url("../images/imac.png");
        background-size: cover;
/*         background-color: #fff; */
        border-radius: 25px;
        padding : 20px;
		z-index:-1;
    }
    #submitform{
/*     	 background: url("../images/co2.jpg"); */
/*         background-size: cover; */
/* 		background:#f3f1df; */
/*     	width:1100px; */
/*     	height:710px; */
/*     	margin: 0 auto; */
/*     	border-radius: 25px; */
/*     	border: 40px solid #333; */

    	transition: 1s;
    }
    
    .submitAreaOff1{
    	transform:translateY(180px);
   		 zoom: 0.5;
    }
     .submitAreaOn1{
        background:#f3f1df;
    	width:1100px;
    	height:710px;
    	margin: 0 auto;
    	border-radius: 25px;
    	border: 40px solid #333;
		zoom: 1;
     }
     table.title{
        font-size: 20px;
        padding: 10px;
        padding-left:15px;
        padding-right:15px;
        color: #333;
/*         background-color:rgba(0,0,0,0.075); */
        border-radius: 15px;
    }
    table.th1{
        margin: 0 auto;
        background:#f3f1df;
/*         background:rgba(0,0,0,0.075); */
        padding-left:15px;
        padding-right:15px;
        border-radius: 15px;
        width: 700px;
    }
    table.rown{
        font-weight: 800x;
        font-size: 17px;
        padding: 5px;
        width: 140px;
    	
    }
    #textArea{
        width: 450px;
        height: 200px;
        resize: none;
    }

    .inner_content input{
        width: 180px;
        height: 22px;
        border-radius: 4px;
    }
    .inner_content textarea{
        border-radius: 4px;
    }

    #submitBtn-Area{text-align: center;}
    #submitBtn{ margin:0 auto; }
    #img-area, img{
        width: 360px;
        height: 250px;
        background-size: cover;
        border-radius: 4px;
    }