@charset "UTF-8";

    .point-inner{
        width: 980px;
        height: auto;
        margin: 0 auto;
        padding-top:50px;
      
       background-image: url("resources/expert/images/fl.jpg");
       background-size: cover;
        
    }
    .inner__header{
        text-align: center;
        height: 100px;
        align-items: center;
 
    }
    .point-inner .inner__header p{
        font-size: 24px;
        font-weight: bolder;
        color:red;
        padding: 15px;
    }
    .point-inner .inner__content{
        width: 768px;
        height: auto;
        margin: 0 auto;
        background: #fff; 
        
         
    }
    .point-inner .banner{
        width: 150px;
        height: 30px;
       
        background: #fff;
        
       /* background: rgb(245, 209, 236);*/
        margin: 0 auto;
       /* border-radius: 30px;*/
        text-align: center;
    }
    .point-inner .banner p{
        font-weight: 600;
        font-size: 18px;
    }
    .point-inner .point-img{
        text-align: center;
        background-size: cover;
        background: #e97575;
        padding: 5px;
    }
    .point-inner .point-img img{     
        width: 600px;
        height: 150px;
        background-size: cover;
    }
    /* Table */
    table.point {
        border-collapse: collapse;
        text-align: center;
        margin-top: 50px;
        line-height: 1.5;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
       
    }
    table.point thead th {
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        color:  plum; 
        border-bottom: 4px solid plum;
    }
    table.point tbody{
        background: white;
    }
    table.point tbody th {
        width: 150px;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
        background: #f3f6f7;
    }
    table.point td {
        width: 350px;
 		height: auto;
        padding: 10px;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
    }
    
    .p-before{
        text-decoration: line-through;
    }
    .p-after{
        color: red;
    }
    
    #payfrom-outer{
        margin: 0 auto;
        background: #fff;
        width: 600px;
       
    }
    #payform{
        text-align: center;
        display: inline-block;
    }
    #payform-img{
        float: left;
        background: #fff;
        height: 180px;
    }
    #payform-img img{
        padding: 10px;
        width: 240px;
        height: 130px;
        background-size: cover;
        border-right: 4px solid plum;
    }
    #payform-select{
        float: left;
        
    }
    #payform .payform-radio {
        clear: both;
        display: block;
        width: 300px;
        height: 50px;
    }