@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
	min-width:1200px;
}
header{
	min-width:1200px;
	border-bottom:1px solid rgba(var(--b38,219,219,219),1);
	width:100%;
	height:60px;
	position: fixed;
	z-index: 100;
	background:white;
}
nav{
	min-width: 1200px;
    width: 100%;
    height: 47.5px;
    position: fixed;
    z-index: 100;
    top: 60px;
    background: white;
    overflow: hidden;
}

section{
	height: 100%;
	width:100%;
	top:145px;
	position : absolute;
}

#extra {
	width: 100%;
	height: 60px;
}
#Myheader {
	width: 100%;
    height: 135px;
    font-size: 35px;
    text-align: center;
    font-style: italic;
    line-height: 120px;
    color: #f861a2;
    background:rgb(242,138,101);
}


.btn{
    height: 34px;
    background:#eee linear-gradient(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position:relative;
  }
  
  .btn:hover::before{
      content:"";
      position: absolute;
      top:0;
      left:0;
     width:100%;
     height:100%;
    background:rgba(0,0,0,0.07);
  }
  .btn.btn--primary{
    border:1px solid #65b836;
    color: #fff;
    background: #55a532 linear-gradient(#91dd70,#55ae2e);
  }
  .btn.btn--primary2{
    border:1px solid #b83691;
    color: #fff;
    background: #a53383 linear-gradient(#b83691cc,#a53383);
  }

/*----------------------------------------
	QNA : 미디어 쿼리 반응형
----------------------------------------*/
#background{
/* 	 background: url(../images/imac.png); */
/*     background-size: cover; */
/*     position:relative; */
/*     width: 980px; */
/*     height: 800px; */
/*     top: -110px; */
/*     display: none; */
/*     z-index: -15; */
/*     margin: 0 auto; */
}


#inner {
	width: 980px;
	height: auto;
	margin: 0 auto;
	padding: 50px;
	border-radius: 7px;

}
.padding-top{
	padding-top:50px;
}
#writeform{
/* 	transform:translateY(-100px); */

/* 	z-index:5; */
}
#newQnA{
	transform:translateX(-80px);
	float:right;
}
#boardDetail{
	display:none; 
	transition:1s;	
}
/* #board-area{ */
/* 	display:none; */
/* } */
#moba{
	position: absolute;
	bottom:0px;
	right:0px;
	z-index:5;
	zoom:0.9;
}

/*모바일*/
#moba img{
	width:550px;
}
#moba-content{
	position: absolute;
	bottom: 320px;
    right: 270px;
    z-index: 5;
}

/*----------------------------------------
 	QNAdetail
 ---------------------------------------- */
	.section{
        width: 980px;
        height: auto;
        margin: 0 auto;
         /* background-image: url("imac.png");
        background-size: cover;  */
        /* background-color: beige; */
    }
    .content{
        margin:0 auto;
    }
   /* boardDetail   */
    #boardDetail label{
        color: #444;
    }

    #boardDetail .content{
        width: 800px;
        height: auto;
/*         background: #fff; */
    }
    #boardDetail table{
        padding-top: 50px;
        font-size: 18px;
        margin:0 auto;
        text-align: center;
        border-collapse: collapse;
        border-radius: 5px;
    }
    #boardDetail table th{
        border-top: 25px solid #888;
        border-radius: 5px;
    }
    #boardDetail table{
        background: whitesmoke;
    }
    #boardDetail input{
        width: 99%;
        height: 20px;
        font-size: 18px;
        border-radius: 5px;
        border: 2px solid #eee;
    }
   #boardDetail textarea{
        font-size: 18px;
        border-radius: 5px;
        border: 2px solid #eee;
    }

    
/* ----------------------------------------
	QnaSend 
----------------------------------------*/
.comb{
	width: 700px;
	height: auto;
	border-radius: 20px;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
	margin-top:50px;
	z-index:2;
}
.comb table{
	margin: 0 auto;
}

.divbody>div>ul>li {
	text-align: center;
	list-style: none;
}

#title{
	width : 350px;
	height: 25px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.02);
	font-size:18px;
}
#content{
	margin-left:10px;
	border-radius: 4px;
	width: 500px;
	height:250px;
	font-size:18px;
	border: 1px solid rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.02);
}
.rowT{
	font-size:19px;
}
#su-msg {
	margin-top: 20px;
}

#su-msg p {
	padding: 10px;
}

#su-title {
	font-size: 30px;
	border-style: bold;
	font-family: "굴림";
	color: skyblue;
}

#sucessform{
	display:none;
}

