@charset "UTF-8";

	/* #background{
		width: 1900px;
		height:1200px;
		background-image:url("../images/girl_mountain.jpg");
		background-size: 100% 100%;
		margin:0 auto;
		padding:0;
	} */
	



	p {
        font-family: "Nanum Gothic", sans-serif;
        font-size: 16px;
      }
    p.a {
        font-weight: 400;
      }

body{
		margin:0;
		padding: 0;
	}
	
	.select {
		width:108px;
		height:20px;
	}
/* ---------------------------------------- */
	
	#loginback{
		width: 1900px;
		height:1200px;
		background-image:url("../images/girl_mountain.jpg");
		background-size: 100% 100%;
		padding:0;
		/* filter: blur(4px);
 		-webkit-filter: blur(4px); */
	}
	
	#back{
		/* background-image:url("../images/ssmoke.gif"); */
		position: absolute;
		width: 100%;
    	height: 100%;
		background-size: 50% 50%;
	}
	
	p {
		margin:0px;
		display:inline-block;
		font-size:15px;
		font-weight:bold;
	}
	
	section{
	width: 1900px;
	height:1200px;
	background-image:url("../images/girl_mountain.jpg");
    /* height: 100vh; */
    /* background: #000; */
    overflow: hidden;
    background-size: 100% 100%;
}
section::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff); */
    mix-blend-mode: color;
    pointer-events: none;
}
video{
    object-fit: cover;
}
h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 5em;
    font-family:sans-serif;
    text-transform: uppercase;
}
h1 span{
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px)
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter:blur(0)
    }
}
h1 span:nth-child(1){
    opacity: 0;
    animation-delay: 0s;
}
h1 span:nth-child(2){
    opacity: 0;
    animation-delay: 0.2s;
}
h1 span:nth-child(3){
    opacity: 0;
    animation-delay: 0.3s;
}
h1 span:nth-child(4){
    opacity: 0;
    animation-delay: 0.4s;
}
h1 span:nth-child(5){
	
    opacity: 0;
    animation-delay: 0.5s;
}
h1 span:nth-child(6){
    opacity: 0;
    animation-delay: 0.6s;
}
h1 span:nth-child(7){
    opacity: 0;
    animation-delay: 0.7s;
}
h1 span:nth-child(8){
    opacity: 0;
    animation-delay: 0.8s;
}
h1 span:nth-child(9){
    opacity: 0;
    animation-delay: 0.9s;
}
h1 span:nth-child(10){
    opacity: 0;
    animation-delay: 1s;
}
h1 span:nth-child(11){
    opacity: 0;
    animation-delay: 1.2s;
}
/*-------------------------------------  */

	