@charset "UTF-8";


/* 메뉴 목록 전체 틀*/
header{
	margin-top: -11px;
	background:white;
}

#adw_menu,
#adw_menu>ul,
#adw_menu>ul>li,
#adw_menu>ul>li>a {
  margin: 0 auto;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#adw_menu:after,
#adw_menu>ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#adw_menu {
  width: auto;
/*   font-family: Raleway, sans-serif; */
  line-height: 1;
  background: white;
}

#adw_menu>ul {
  background: #ffffff;
  width: 900px;
}

#adw_menu>ul>li {
  float: left;
  width: 180px;
  text-align: center;
}

#adw_menu.align-center>ul {
  font-size: 0;
  text-align: center;
}
#adw_menu.align-center>ul>li {
  display: inline-block;
  float: none;
}

#adw_menu.align-right>ul>li {
  float: right;
}

#adw_menu.align-right>ul>li>a {
  margin-right: 0;
  margin-left: -4px;
}

#adw_menu>ul>li>a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  border-right: 1px solid rgba(var(--b38,219,219,219),1);
}

#adw_menu>ul>li:nth-child(1)>a{
	border-left: 1px solid rgba(var(--b38,219,219,219),1);
}

#adw_menu>ul>li:nth-child(1)>a:hover{
	color:#18dfd3;
	border-bottom: 2px solid #10ccc3;
}

#adw_menu>ul>li:nth-child(2)>a:hover{
	color:#5B5AFF;
	border-bottom: 2px solid #3a7af8;
}

#adw_menu>ul>li:nth-child(3)>a:hover{
	color:#CB6CFF;
	border-bottom: 2px solid #a047c0;
}

#adw_menu>ul>li:nth-child(4)>a:hover{
	color:#FF7E7E;
	border-bottom: 2px solid #f861a2;
}

#adw_menu>ul>li:nth-child(5)>a:hover{
	color:#000000;
	border-bottom: 2px solid #000000;
}

#adw_menu>ul>li:nth-child(6)>a:hover{
	color:#20da1d;
	border-bottom: 2px solid #20da1d;
}






